<!DOCTYPE html>
<html lang="en" class="" manifest="">
    <head>
        <meta charset="utf-8" />
        <title>Hello World Boilerplate | Paragon CMS</title>
        <meta name="description" content="Paragon CMS static site boilerplate." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,400,400i,500,600,700|Ubuntu:400,500" rel="stylesheet" />
        <link href="{{siteRoot}}/assets/css/screen.css" rel="stylesheet" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{siteRoot}}/assets/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{siteRoot}}/assets/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{siteRoot}}/assets/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{siteRoot}}/assets/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{siteRoot}}/assets/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{siteRoot}}/assets/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{siteRoot}}/assets/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{siteRoot}}/assets/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{siteRoot}}/assets/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{siteRoot}}/assets/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{siteRoot}}/assets/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{siteRoot}}/assets/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{siteRoot}}/assets/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Paragon CMS" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{siteRoot}}/assets/favicon/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="{{siteRoot}}/assets/favicon/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="{{siteRoot}}/assets/favicon/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="{{siteRoot}}/assets/favicon/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="{{siteRoot}}/assets/favicon/mstile-310x310.png" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <a href="https://github.com/paragoncms/boilerplate-helloworld" target="_blank">
                <img src="{{siteRoot}}/assets/img/paragoncms-logo.png" />
                <h1>Paragon CMS</h1>
            </a>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2017 <a href="https://www.paragoncms.io/" target="_blank">Paragon CMS</a>. This boilerplate is licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC 1.0 Universal.</a></p>
        </footer>
    </body>
</html>
